In [17]:
import pandas as pd

df = pd.DataFrame([range(11), range(100,110)], columns=list('abcdefghijk'))

df

     a    b    c    d    e    f    g    h    i    j     k
0    0    1    2    3    4    5    6    7    8    9  10.0
1  100  101  102  103  104  105  106  107  108  109   NaN

In [18]:
df.to_pickle('my_df.pickle')

del df

In [19]:
df2 = pd.read_pickle('my_df.pickle')

df2

     a    b    c    d    e    f    g    h    i    j     k
0    0    1    2    3    4    5    6    7    8    9  10.0
1  100  101  102  103  104  105  106  107  108  109   NaN